hr {
    width: 500px;
    background-color: #181100;
    border-radius: 3px;
    height: 2px;
    border: none;
    border-color: #181100;
}

p {
    width: 368px;
    margin-bottom: 50px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.chart {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

.image {
    display: flex;
    width: 368px;
    margin-bottom: 50px;
}

.chart:not(:last-child) {
    margin-bottom: 50px;
}
